<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head',{ title : ' Edita el producto' })%>

    <body class="">
        <%- include('./partials/header')%>
            <main class="register__main">
                <section class="register__main__section general__main__section">
                    <h1 class="form__title">Editar Producto</h1>
                    <form action="/products/update/<%= product.id %>?_method=PUT" class="row" method="post">
                        <div class="col-12 col-md-6 mb-3">
                            <label for="name" class="Form-Label">Nombre</label>
                            <input class="form__control" type="text" id="name" name="name" value="<%= product.name %>">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="price" class="Form-Label">Precio</label>
                            <input class="form__control" type="number" id="price" name="price" value="<%= product.price %>" >
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="discount" class="Form-Label">Descuento</label>
                            <input class="form__control" type="number" id="discount" name="discount" value="<%= product.discount %>">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="brand" class="form-label">Marca</label>
                            <select class="form-select" aria-label="Default select example" id="brand" name="brand">
                                <% brands.forEach(brand => { %>
                                  <option value="<%= brand %>" <%= product.brand === brand && 'selected'%>><%= brand %></option>
                                <% }) %>
                              </select>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="category" class="form-label">Categoría</label>
                            <select class="form-select" aria-label="Default select example" id="category" name="category">
                                <option value="" selected hidden>Seleccione...</option>
                                <option value="alta" <%= product.category === "alta" && 'selected'%>>Alta</option>
                                <option value="media" <%= product.category === "media" && 'selected'%>>Media</option>
                                <option value="baja" <%= product.category === "baja" && 'selected'%>>Baja</option>

                              </select>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="section" class="form-label">Sección</label>
                            <select class="form-select" aria-label="Default select example" id="section" name="section">
                                <option value="" selected hidden>Seleccione...</option>
                                <option value="popular" <%= product.section === "popular" && 'selected'%>>Popular</option>
                                <option value="temporada" <%= product.section === "temporada" && 'selected'%>>Temporada</option>
                              </select>
                        </div>

                    
                        <div class="form__box form__box--flex">
                            <a href="" class="form__button form__button--cancel">Cancelar</a>
                            <button class="form__button form__button--send" type="submit">Guardar</button>
                        </div>

                    </form>

                </section>
            </main>
    </body>

</html>